@keyframes growIn {
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width:100%;
        height:100%;
    }
    75%{
        width:75%;
        height:75%;
    }
    100%{
        width:100%;
        height:100%;
    }
}
.icon{
    animation: animate__bounceIn;
    animation-duration: 2s;
}

.header{
    width: 320px;
    position: fixed;
    top: 75px;
    left:50%;
    margin-left: -160px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px black;
}


body{
    background-image: linear-gradient(to bottom right, rgb(165, 0, 0), rgb(202, 81, 0));
    background-size: cover;
    height: 100vh;
}

.table-cell{
    width: 100px;
    height: 100px;
    padding:0px;
    text-align: center;
    font-family:'arial';
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px #000000;
}
.board{
    position: fixed;
    width:300px;
    height:300px;
    top: 150px;
    left:50%;
    margin-left: -160px;
}
#option1{
    position:absolute;
    left:1px;
}
#option2{
    position:absolute;
    left: 100px;
}
#option3{
    position:absolute;
    left:207px;
}
#option4{
    position:absolute;
    top:100px;
    left:1px;
}
#option5{
    position:absolute;
    top:100px;
    left:100px;
}
#option6{
    position:absolute;
    top:100px;
    left:207px;
}
#option7{
    position:absolute;
    top:207px;
    left:1px;
}
#option8{
    position:absolute;
    top:207px;
    left:100px;
}
#option9{
    position:absolute;
    top:207px;
    left:207px;
}
.box1{
    border-right: 7px solid white;
    border-bottom: 7px solid white;
}
.box2{
    border-left:  7px solid white;
    border-right:  7px solid white;
    border-bottom:  7px solid white;
}
.box3{
    border-left:  7px solid white;
    border-bottom:  7px solid white;
}
.box4{
    border-top: 7px solid white;
    border-right:  7px solid white;
    border-bottom:  7px solid white;
}
.box5{
    border-top: 7px solid white;
    border-right:  7px solid white;
    border-bottom:  7px solid white;
    border-left:  7px solid white;
}
.box6{
    border-top: 7px solid white;
    border-bottom:  7px solid white;
    border-left:  7px solid white;
}
.box7{
    border-top: 7px solid white;
    border-right:  7px solid white;
}
.box8{
    border-top: 7px solid white;
    border-right:  7px solid white;
    border-left:  7px solid white;
}
.box9{
    border-top: 7px solid white;
    border-left:  7px solid white;
}
#alert{
    font-family:'Josefin Sans', sans-serif;
    font-size: 18px;
    position: fixed;
    border-radius: 15px;
    top: 250px;
    left: 50%;
    margin-left: -120px;
    width: 200px;
    height: 100px;
    border: 10px solid rgb(255, 255, 255);
    background-color: rgb(206, 0, 0);
    color: white;
    text-shadow: 1px 1px 3px black;
    display: none;
    box-shadow: 1px 1px 5px black;
}

#alert-message{
    margin-top: 15px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.reset{
    font-family:'Josefin Sans', sans-serif;
    padding: 4px;
    font-size: 18px;
    width: 110px;
    margin-left: -57px;
    margin-top: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    text-shadow: 1px 1px 3px black;
    border: 0;
    background-color: rgb(206, 0, 0);
    color:white;
}
.reset:hover{
    cursor: pointer;
}
input[type=text] {
    background-color:  rgb(206, 0, 0);
    font-family:'Josefin Sans', sans-serif;
    font-size: 18px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    padding: 0;
    color: white;
  }

#game-settings{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    width: 320px;
    height: 180px;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 12px;
    position: fixed;
    top:200px;
    left:50%;
    margin-left: -170px;
    background-color: rgb(206, 0, 0);
    display:block;
    font-size: 18px;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 5px black;
}
.open-setting{
    color: white;
    text-shadow: 2px 2px black;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 50px;
}
.close{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: white;
    transform: rotate(45deg);
    font-size: 40px;
    position:absolute;
    right: 10px;
    top: -5px;
}
.close:hover{
    cursor:pointer;
}
.name{
    margin-left: 35px;
    margin-top: 34px;
}
.marker{
    margin-left: 35px;
    margin-top: 15px;
}
.playFirst{
    margin-left: 35px;
    margin-top: 15px;
}
.menu-name{
    position: absolute;
    font-size: 16px;
    font-family:'Josefin Sans', sans-serif;
    left: 50%;
    top: 10px;
    margin-left: -65px;
}
.set-settings{
    padding: 4px;
    font-size: 18px;
    width: 115px;
    margin-left: -48px;
    margin-top: 50px;
    position: absolute;
    top:50%;
    color:white;
    left: 50%;
    border: 0;
    background-color: rgb(206, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 1px 3px black;
}
.set-settings:hover{
    cursor: pointer;
}
.score-board{
    width: 320px;
    height: 50px;
    position: fixed;
    top: 500px;
    left: 50%;
    margin-left: -160px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px black;
}
.player{
    display: inline-block;
    float:left;
}
.ties{
    display: inline-block;
    position: absolute;
    left:50%;
    margin-left:-10px;
}
.pc{
    display: inline-block;
    float:right;
}

.score{
    text-align: center;
}
